
form {
    display: flex;
}

.parents{
    display: flex;
}

body {
    text-align: center;
  }
  
  main {
    border: 1px solid black;
    padding: 20px;
    display: inline-block;
  }
  
  #buttons {
    margin-top: 20px;
    border: 1px solid black;
    display: inline-block;
  }

  input[type="text"] {
    margin-left: 10px;
    padding: 5px;
    width: 200px;
}

button[type="submit"] {
    background-color: #2196f3;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 10px;
}

button[type="submit"]:hover {
    background-color: #0c7cd5;
}

.audio {
    background: url(../img/button_normal.webp) no-repeat;
    border: 0;
    cursor: pointer;
    height: 90px;
    margin: 0 auto;
    text-align: center;
    width: 90px;
    align-items: center;
}

.audio img {
    margin: auto;
}

.audioBtn {
    background: url(../img/button_normal.webp) no-repeat;
    cursor: pointer;
    margin: 0 auto;
    height: 90px;
    width: 90px;
    align-items: center;
    border: 0;
}

.audioBtn:active {
    background: url(../img/button_down.webp) no-repeat;
}

  
  
  
  
  